<!DOCTYPE html>
<html>
<head lang="de">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app="app">

<fieldset title="ModuleX">
    <legend>ModuleX</legend>
    <div ng-controller="ModuleXCtrl">
        <p>
            <label for="eventNameX">EventName:</label>
            <input id="eventNameX" type="text" ng-model="eventName"/>
            <label for="messageX">Message</label>
            <input id="messageX" type="text" ng-model="message"/>
            <button ng-click="fireEvent()">Schicken</button>
        </p>

        <label>Empfangene Message: </label><label>{{receivedMessage}}</label>
    </div>
</fieldset>

<fieldset title="ModuleY" name="ModuleY">
    <legend>ModuleY</legend>
    <div ng-controller="ModuleYCtrl">
        <p>
            <label for="eventNameY">EventName:</label>
            <input id="eventNameY" type="text" ng-model="eventName"/>
            <label for="messageY">Message</label>
            <input id="messageY" type="text" ng-model="message"/>
            <button ng-click="fireEvent()">Schicken</button>
        </p>

        <label>Empfangene Message: </label><label>{{receivedMessage}}</label>
    </div>
</fieldset>

<fieldset title="ModuleRandomMessage" name="ModuleRandomMessage">
    <legend>ModuleRandomMessage</legend>
    <div ng-controller="ModuleRandomMessageCtrl">
        <label>Timestamp: </label><label>{{receivedMessageTimestamp}}</label>
        <br>
        <label>Message: </label><label>{{receivedMessage}}</label>
    </div>
</fieldset>

<script src="lib/angular/angular.js"></script>
<script src="platform/scripts/platform.js"></script>
<script src="platform/scripts/dispatcher/dispatcher.js"></script>
<script src="modules/moduleX/scripts/moduleX.js"></script>
<script src="modules/moduleY/scripts/moduleY.js"></script>
<script src="modules/moduleRandomMessage/scripts/moduleRandomMessage.js"></script>
<script src="app/scripts/app.js"></script>
</body>
</html>
