<div class="benutzername" ng-controller="RegisterCtrl">
	<fieldset>
		<legend>Registrierung</legend>
		<form name="register" novalidate>
			<label class="vornameLabel">Vorname</label>
			<input class="vornameInput" ng-model="vorname" name="vorname" type="text" ng-minlength="3" required/>
			<div ng-show="register.vorname.$dirty && register.vorname.$invalid" class="errorMsg">
				<span ng-show="register.vorname.$error.required">Darf nicht leer sein.</span>
				<span ng-show="!register.vorname.$error.required && register.vorname.$error.minlength">Mindestens 3 Zeichen.</span>
			</div>

			<br>

			<label class="nameLabel">Name</label>
			<input class="nameInput" ng-model="name" name="name" type="text" required ng-minlength="3"/>
			<div ng-show="register.name.$dirty && register.name.$invalid" class="errorMsg">
				<span ng-show="register.name.$error.required">Darf nicht leer sein.</span>
				<span ng-show="!register.name.$error.required && register.name.$error.minlength">Mindestens 3 Zeichen.</span>
			</div>

			<br>

			<label class="emailLabel">Email</label>
			<input class="emailInput" ng-model="email" name="email" type="email" required ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/"/>
			<div ng-show="register.email.$dirty && register.email.$invalid" class="errorMsg">
				<span ng-show="register.email.$error.required">Darf nicht leer sein.</span>
				<span ng-show="!register.email.$error.required && register.email.$error.pattern">Felerhafte Emailadresse</span>
			</div>

			<br>

			<label class="benutzernameLabel">Benutzername</label>
			<input class="benutzernameInput" ng-model="benutzername" name="benutzername" required ng-minlength="3"/>
			<div ng-show="register.benutzername.$dirty && register.benutzername.$invalid" class="errorMsg">
				<span ng-show="register.benutzername.$error.required">Darf nicht leer sein.</span>
				<span ng-show="!register.benutzername.$error.required && register.benutzername.$error.minlength">Mindestens 3 Zeichen.</span>
			</div>

			<br>

			<label class="passwortLabel">Passwort</label>
			<input class="passwortInput" ng-model="passwort" name="passwort" type="password" required passwort minlength="3"/>
			<div ng-show="register.passwort.$dirty && register.passwort.$invalid" class="errorMsg">
				<span ng-show="register.passwort.$error.required">Darf nicht leer sein.</span>
				<span ng-show="!register.passwort.$error.required && register.passwort.$error.passwort">Es sind nur Buchstaben, Ziffern und folgende Sonderzeichen für die Eingabe erlaubt: +, -, (, ), _, /, Leerzeichen.</span>
				<span ng-show="!register.passwort.$error.required && register.passwort.$error.minlength">Mindestens 3 Zeichen.</span>
			</div>

			<br>
			<label class="passwortRepeatLabel">Passwort wiederholen</label>
			<input class="passwortRepeatInput" ng-model="passwortRepeat" name="passwortRepeat" type="password" required passwort passwort-repeat minlength="3"/>
			<div ng-show="register.passwortRepeat.$dirty && register.passwortRepeat.$invalid" class="errorMsg">
				<span ng-show="register.passwortRepeat.$error.required">Darf nicht leer sein.</span>
				<span ng-show="!register.passwortRepeat.$error.required && register.passwortRepeat.$error.passwort">Es sind nur Buchstaben, Ziffern und folgende Sonderzeichen für die Eingabe erlaubt: +, -, (, ), _, /, Leerzeichen.</span>
				<span ng-show="!register.passwortRepeat.$error.required && register.passwortRepeat.$error.minlength">Mindestens 3 Zeichen.</span>
				<span ng-show="!register.passwortRepeat.$error.required && register.passwortRepeat.$error.passwortRepeat">Die Passwörter sind nicht gleich.</span>
			</div>

			<br>
			<br>
			<button ng-click="doRegister(register.$valid)">Registrieren</button>
		</form>
	</fieldset>
</div>
