<div class="benutzername" ng-controller="RegisterCtrl">
	<fieldset>
		<legend>Registrierung</legend>
		<form name="register" novalidate>
			<label class="vornameLabel">Vorname</label>
			<input class="vornameInput" ng-model="vorname" name="vorname" type="text" ng-minlength="3" required/>
			<div ng-show="register.vorname.$pristine && submitted" class="errorMsg">
				Darf nicht leere sein
			</div>
			<div ng-show="register.vorname.$dirty && register.vorname.$invalid" class="errorMsg">
				<span ng-show="register.vorname.$error.required">Darf nicht leere sein</span>
				<span ng-show="register.vorname.$error.minlength">Mindestens 3 Zeichen</span>
			</div>

			<br>

			<label class="nameLabel">Name</label>
			<input class="nameInput" ng-model="name" name="name" type="text" required ng-minlength="3"/>
			<div ng-show="register.name.$pristine && submitted" class="errorMsg">
				Darf nicht leere sein
			</div>
			<div ng-show="register.name.$dirty && register.name.$invalid" class="errorMsg">
				<span ng-show="register.name.$error.required">Darf nicht leere sein</span>
				<span ng-show="register.name.$error.minlength">Mindestens 3 Zeichen</span>
			</div>

			<br>

			<label class="emailLabel">Email</label>
			<input class="emailInput" ng-model="email" name="email" type="email" required/>
			<div ng-show="register.email.$pristine && submitted" class="errorMsg">
				Darf nicht leere sein
			</div>
			<div ng-show="register.email.$dirty && register.email.$invalid" class="errorMsg">
				<span ng-show="register.email.$error.required">Darf nicht leere sein</span>
				<span ng-show="register.email.$error.email">Felerhafte Emailadresse</span>
			</div>

			<br>

			<label class="benutzernameLabel">Benutzername</label>
			<input class="benutzernameInput" ng-model="benutzername" name="benutzername" required ng-minlength="3"/>
			<div ng-show="register.benutzername.$pristine && submitted" class="errorMsg">
				Darf nicht leere sein
			</div>
			<div ng-show="register.benutzername.$dirty && register.benutzername.$invalid" class="errorMsg">
				<span ng-show="register.benutzername.$error.required">Darf nicht leere sein</span>
				<span ng-show="register.benutzername.$error.minlength">Mindestens 3 Zeichen</span>
			</div>

			<br>

			<label class="passwortLabel">Passwort</label>
			<input class="passwortInput" ng-model="passwort" name="passwort" type="password" required/>
			<div ng-show="register.passwort.$pristine && submitted" class="errorMsg">
				Darf nicht leere sein
			</div>
			<div ng-show="register.passwort.$dirty && register.passwort.$invalid" class="errorMsg">
				<span ng-show="register.passwort.$error.required">Darf nicht leere sein</span>
			</div>

			<br>
			<br>
			<button ng-click="doRegister(register.$valid)">Registrieren</button>
		</form>
	</fieldset>
</div>
